# Build artifacts
build/
devel/
install/
log/

# ROS-related
*.pyc
*.swp
*.bak
*.orig
*.cfgcach*
*.depend
*.pcd

# catkin_tools
.catkin_tools/
.cmake/
.cache/
.catkin_workspace

# Python virtual environments
venv/
env/

# VSCode or other IDEs
.vscode/
.idea/

# Backup files
*~
*.tmp

# macOS or system files
.DS_Store
Thumbs.db

# clangd
.clangd

# turtlebot
src/turtlebot3
src/turtlebot3_msgs
src/turtlebot3_simulations
